.half-doughnut-container {
    position: relative;
    width: 200px; /* Adjust width as needed */
  }
  
  .half-doughnut-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .half-doughnut-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: white; /* Adjust background color as needed */
    z-index: 2;
  }
  .chart-container {
    width: 320px;
    height: 320px;
    float: center; /* This will float the chart to the right */
    margin-left: 150px; /* Add some margin to create space between the chart and other content */
  }
  